flask
flask-socketio
google-generativeai
python-dotenv
pymupdf
python-docx
python-pptx
deep-translator
numpy
faiss-cpu
moviepy
speechrecognition
eventlet
gunicorn
yt-dlp
werkzeug
supabase
