Flask
Flask-SocketIO
yt-dlp
werkzeug
google-generativeai
Pillow
pytube
deep-translator
PyMuPDF
python-docx
python-pptx
SpeechRecognition
requests
moviepy
langchain
faiss-cpu
google-generativeai 
flask-socketio
docker